@font-face
  font-family: 'Nunito'
  src: local('Nunito'), local('Nunito-Regular'), url('../fonts/Nunito-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Nunito'
  src: local('Nunito Bold'), local('Nunito-Bold'), url('../fonts/Nunito-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
